spring:
  application:
    name: cloud-storage-api

  profiles:
    active: dev

  docker:
    compose:
      enabled: false
      file: compose.yaml

  datasource:
    hikari:
      maximum-pool-size: 20
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: ${DB_DRIVER}
    url: ${DB_URL}

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: validate

  liquibase:
    enabled: true
    change-log: classpath:/db/changelog/db.changelog-master.yaml